body {
    background-color: rgb(238,238,238);
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
    width: 70%;
    margin: 50px auto;
    background: rgba(255, 255, 255, 1);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}



h2, h3 {
    color: #27ae60;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    background-color: #27ae60;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(46, 204, 113, 0.3);
}

.button:hover {
    background-color: #218c4a;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(46, 204, 113, 0.6);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(46, 204, 113, 0.2);
    transition: box-shadow 0.3s ease;
}

table:hover {
    box-shadow: 0 0 40px rgba(46, 204, 113, 0.4);
}

table, th, td {
    border: 1px solid #27ae60;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #2ecc71;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #ecf0f1;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: box-shadow 0.3s ease;
}

form:hover {
    box-shadow: none;
}

input[type="text"] {
    padding: 15px;
    margin-right: 10px;
    border: 1px solid #27ae60;
    border-radius: 8px;
    width: 70%;
}

input[type="submit"] {
    padding: 15px;
    border: 1px solid #27ae60;
    border-radius: 8px;
    background-color: #27ae60;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #218c4a;
}

/* Total Number of Patients container */
.total-patients-container {
    background-color: #27ae60;
    color: #fff;
    padding: 10px; 
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(46, 204, 113, 0.3); 
    font-family: 'Century Gothic', sans-serif; 
    font-size: 20px; 
}

.total-patients-container:hover {
    box-shadow: 0 0 20px rgba(46, 204, 113, 0.6); 
}